[2022-06-16 18:36] sachinraja opened #9 "doesn't work for `src/pages` directory"
Hey, thanks for the amazing project! In my app I use the [`src/pages` directory](https://nextjs.org/docs/advanced-features/src-directory) but it doesn't work for `nextjs-routes` because it only looks in the `pages` directory.

[2022-06-16 23:35] #9 closed, assigned to nobody

[2022-06-16 23:39] tatethurston commented on #9
Hey @sachinraja thanks for reporting this. I just published v0.0.9 to enable this -- let me know if you run into any issues or have other ideas for improvement!

[2022-06-16 23:54] sachinraja commented on #9
Wow that was fast! Works great now. One idea - it would be great to have an ESM build because the CJS build generates [a lot of cruft](https://unpkg.com/browse/nextjs-routes@0.0.9/link.js). Will definitely let you know if I have any more ideas, but it's been very nice to work with so far.

[2022-06-17 04:01] tatethurston commented on #9
@sachinraja Thanks for pointing that out -- that was a silly oversight on my end. Now publishing ESM in v0.0.10

[2022-06-17 16:50] tatethurston commented on #9
@sachinraja the mjs extension is a proposal but not a requirement for consuming ESM. If you use a bundler like webpack, roll up or vite the ESM export will be picked up out of the box.

[2022-06-17 16:55] sachinraja commented on #9
The other libraries are incorrect. The bundlers are also incorrect but are forgiving because libraries are usually incorrect. It will break in cases like testing, where files are not bundled and just run through Node.

[2022-06-17 17:26] tatethurston commented on #9
Nextjs default webpack config will correctly pick up this ESM so is there a particular outcome you’re unable to achieve here?

[2022-06-17 17:35] sachinraja commented on #9
This is on a per-package basis. So `"type": "module"` would have to be set in this project for that to work. Anyway, it's alright.

[2022-06-17 18:16] tatethurston commented on #9
@sachinraja Ah, you’re right I see what you’re saying. Is there a reason to prefer publishing .mjs over setting type: module for this package (other than support for nodejs runtimes that predate that package.json key)?

[2022-06-17 18:21] sachinraja commented on #9
Well if you set type:module you'll have to use `.cjs` extensions for commonjs. See https://nodejs.org/api/packages.html#determining-module-system

[2022-06-23 21:57] tatethurston commented on #9
@sachinraja closing the loop on this, this library now ships ESM exclusively. I did some testing in the nextjs examples and couldn't find a need for cjs, but if you run into one LMK and I'll add a cjs export.

[2022-06-23 23:00] sachinraja commented on #9
Thanks! I'll let you know if we run into any issues.

[2022-07-03 20:37] erickriva opened #13 "Syntax error on .d.ts generated file"
Generated code has a little mistake 😅
Slashes were inverted.

![image](https://user-images.githubusercontent.com/2746558/177056373-c51602fd-e233-406b-892a-83e180e3da42.png)

[2022-07-03 21:16] erickriva opened #14 "'Module not found' error"
`yarn` was run, but this error still pops... any idea why?

![image](https://user-images.githubusercontent.com/2746558/177057431-55f7a1f0-d757-4876-8ca4-72de991d0b52.png)

[2022-07-03 23:02] tatethurston commented on #13
Thanks for reporting @erickriva. What OS are you using — is it Windows?

[2022-07-03 23:14] tatethurston commented on #14
Can you let me know which version of next you’re using? I _think_ this could be related to the latest next upgrade, I have an outstanding todo to look at the changes made to next/link, previous next releases included babel interop code that resulted in the default export being default.default under ESM.

[2022-07-03 23:35] erickriva commented on #13
Windows 11, with Next 12.0.* and Node 16.*

[2022-07-03 23:47] erickriva commented on #14
using next 12.2.0 here, latest release...
if i can help you with it, you can just tell me

[2022-07-04 18:48] #13 closed

[2022-07-04 19:21] #14 closed

[2022-07-04 19:25] tatethurston commented on #14
@erickriva I've released v0.0.12 with the fix, LMK if you run into any issues.

[2022-07-04 19:25] tatethurston commented on #13
@erickriva I've released v0.0.12 with the fix, LMK if you run into any issues.

[2022-07-04 21:24] trevoro opened #17 "Question: Other query parameters"
Hi,

We're using this library and it's great for mapping the slug parts of a path to their required values or query parameters. However we also using actual query string values for certain items and it appears as though that isn't possible here without the types throwing an error.

Any recommended way to do something like this?

[code]

To me it would be nice to change the `query` value to `params

[2022-07-04 23:55] tatethurston commented on #17
Hey @trevoro thanks for opening this. I held off from implementing this, hoping to get https://github.com/vercel/next.js/issues/35791 addressed in Next.js. That seems unlikely to happen, so I'm happy to widen the query types.

Roughly, making the query type something like:

[code]

will enforce the required keys, but allow arbitrary extra keys for query params.

[2022-07-05 17:40] #17 closed

[2022-07-05 23:53] erickriva opened #19 "[Question] 'Rewrites' support"
Hello 🙂! This package supports 'rewrites'?
If don't, there are reasons (or issues) to support it?

[2022-07-06 00:29] tatethurston commented on #19
Rewrites in next.config.js https://nextjs.org/docs/api-reference/next.config.js/rewrites?

[2022-07-06 01:13] erickriva commented on #19
yeah, i'd like to generate types using aliases instead of original routes... is it supported?

[2022-07-06 01:14] erickriva commented on #14
It worked well! 🎉

[2022-07-06 01:15] erickriva commented on #13
It worked well! 🎉
Thank you!

[2022-07-06 03:42] tatethurston commented on #19
This isn’t supported in the current version. Could you share an example with me and the outcome you would like?

[2022-07-06 17:10] erickriva commented on #19
in my `next.config.js`, i have something like this:

[code]

in this case, the folder inside `pages` directory is called `store` for a better organization purpose, so there is a `/store` route, right?
but i'm doing a `map` on `next.config.js` to `/loja` (_**store**_ in my language, portuguese)

i want the types to have `/loja` instead of `/store`...
is this doable?

[2022-07-06 18:29] tatethurston commented on #19
I see, so you would want the generated route type for something like

`/store/[id]/` to instead be `/loja/[id]`?

And this is because you want your public facing URL paths to be in english, but your source code to be in Portuguese?

[2022-07-07 00:26] erickriva commented on #19
I need the folder names to be in English, but routes must be in Portuguese.
The `Next` part of it was already made, setting the map of rewrites on `next.config.js`.
But the typing keeps using folder name as route path. Can't it look to `next` config file and map to these new routes?

[2022-07-07 03:52] tatethurston commented on #19
The scope for parsing the `next.config.js` would get large quite quickly. [rewrites accept arbitrary regex patterns](https://nextjs.org/docs/api-reference/next.config.js/rewrites#regex-path-matching) and also [path-to-regexp](https://github.com/pillarjs/path-to-regexp) strings.

Could you help me understand the english naming constraint more? It seems like you could move the folder to something li

[2022-07-07 21:32] erickriva commented on #19
Oh, I understand your concerns, it makes much sense... There's an update being prepared for router, isn't?
Maybe it will be solved (or at least a part of) in that update.
Would be great if this package was 'absorbed' by Next, to be a default type generator for router.
Thank you for your answers! It was really helpful 😊

[2022-07-07 23:33] tatethurston commented on #19
No problem! I’ll look into next pathname intl more, it would be great to have a canonical system for the next ecosystem

[2022-07-12 00:31] Noitidart opened #36 "[Question] Non-Link usage"
I wanted to use this in a non-link. For example a fetch like `fetch('/foo')`, is there anyway to typecheck that foo?

I was thinking of doing a type like:

[code]

But it's kind of extra to create a variable to hold path then type that.

[2022-07-12 00:48] tatethurston commented on #36
Hey @Noitidart,

You can [import Route directly](https://github.com/tatethurston/nextjs-routes#route).

So you would have:

[code]

If you want to remove the variable, you can create a wrapper for fetch:

[code]

This will work for static pathnames, but `fetch` won't interpolate Nextjs query parameters (eg `/foos/[foo]`).

[2022-07-12 02:36] Noitidart commented on #36
Thanks very much for your detailed reply. I wanted to use this for my api routes as well. For pages I would use useRouter.push thanks so much for this awesome lib!

[2022-07-12 05:04] tatethurston commented on #36
Ah got it, I’ll think on the API use case some more. There’s certainly an opportunity for a better typescript story there. Thanks @Noitidart !

[2022-07-12 05:13] tatethurston opened #38 "export to interface"
This so cool. I will use it, but can you export it to an interface too? Sometimes need use like this

[code]

_Originally posted by @IRediTOTO in https://github.com/vercel/next.js/discussions/28622#discussioncomment-3126130_

[2022-07-12 05:16] tatethurston commented on #38
@IRediTOTO Thanks for the kind words. Could you expand on what ROUTES.ITEMS. returns? Is it the pathname?

And do you want an interface to type the arguments to ROUTES.ITEMS or to have ROUTES.ITEMS generated as well?

[2022-07-12 11:19] IRediTOTO commented on #38
Hi, I mean
[code]

[2022-07-12 13:27] Noitidart commented on #36
Thanks very much sir!

[2022-07-12 17:10] tatethurston commented on #38
I think there is some overlap here with #36. To date, this library only generated types and this would require generating a runtime.

 I’ll think on this.

[2022-07-12 18:47] sachinraja commented on #38
This API seems kind of similar to https://github.com/aspida/pathpida. I really like how nextjs-routes is just a drop-in solution right now (with no runtime!).

[2022-07-12 18:51] sachinraja opened #39 "ability to define what query params can exist on each path"
This is more of something that would take nextjs-routes to the next level for us, but it's already a great solution. It would be nice if we could augment the `query` types for each route to add our own. For example, defining a query param called `edit` on the `/user/[id]` route to change the page to edit mode.

This is just an feature request right now, I'll try to think of some ideas on how we co

[2022-07-12 18:51] IRediTOTO commented on #38
Look like this is what i am searching.

[2022-07-12 19:18] tatethurston commented on #38
Yeah pathpida is great if you want a runtime

[2022-07-12 19:31] tatethurston commented on #39
Awesome, I’m looking forward to seeing what you come up with. I’ll think on this too.

[2022-07-15 22:10] tatethurston commented on #39
Would this be for enforcement of query params when writing a new path? Is there another use case I’m not thinking of? Would we want users to have the ability to prevent unspecified query parameters?

Reading query will have to keep the value as optional (as opposed to required like with the path parameters) because a user can always enter a path without the query.

[2022-07-15 22:17] tatethurston commented on #39
Some approaches I can think of:

1. Making Link and router methods accept a generic argument to type query (effectively a cast)
2. Providing a configuration file for nextjs-routes that is read when generating types that enables customization
3. Having an extension point defined so users extend a type defined by nextjs-routes and provide their query overrides
4. Have a bespoke export on each page t

[2022-07-17 16:04] sachinraja commented on #39
I think the configuration file is the best option. Something like this:
[code]

[2022-07-18 17:56] tatethurston commented on #39
Another config file option would be extending next.config.js with a “nextjs-routes” key to avoid an extra file. I’ve seen a few community next packages follow this pattern.

[2022-07-18 22:10] #38 closed

[2022-07-18 22:12] tatethurston commented on #38
If there is sufficient interest in a runtime I’ll look into it for nextjs-routes but pathpida seems to fill this need.

[2022-07-18 22:16] tatethurston opened #44 "V1"
Now that the API has begun to stabilize, we should consider what (if anything) should be added before releasing a v1. That release will mark the adoption of semantic versioning, to make it easier for users to reason about updates.

[2022-07-19 09:27] ChristoRibeiro commented on #39
+1 for the suggestion of @tatethurston ! less (file) is more 👏

[2022-08-03 17:29] OnkelTem opened #45 "Make hardcoded part a template?"
Hi!

I was glad to find this module, and at first, it worked pretty well. But when I started to build our code, which is a part of a bigger thing, I ran into a problem with that `pathname` is too strict and doesn't allow other strings, which may occur outside of the project src files.

E.g. this:
[code]

makes an error:
[code]

I can only edit the generated file now like this, to allow for string

[2022-08-03 18:18] tatethurston commented on #45
Can you help me understand where dashboard is coming from? Why is dashboard outside of project source files?

[2022-08-03 18:52] tatethurston commented on #45
In the general case, all of a user's routes will be defined in their next application (and anchor tags can be used for any external links, because next's routing isn't offering any benefits for external routes). Losing type safety isn't an acceptable outcome.

Using generics wouldn't give anything additional over a cast (you're losing the same type safety with both approaches), so my recommendatio

[2022-08-04 07:50] OnkelTem commented on #45
Well, the reason why it happens is that our app consists of different npm packages, that are developed by different teams. Then those packages are integrated into one application.

Thanks for the proposition, Tate! Let me try this approach.

[2022-08-04 16:06] tatethurston commented on #45
Are these npm packages exporting Nextjs pages? I’m curious how the Nextjs router fits in here in the broader context.

[2022-08-05 08:54] OnkelTem opened #46 "?query=string - how to?"
I'm trying to understand how nextjs-route can handle `?query=part`?
For example, we have a page with a table that is supposed to be paged. So I need to pass count and page for every URL.
But nextjs-routes Router doesn't know about our params and I get errors.

[2022-08-05 15:42] tatethurston commented on #46
Use query https://nextjs.org/docs/api-reference/next/link#with-url-object

[2022-08-05 15:44] #46 closed

[2022-08-05 17:48] OnkelTem commented on #46
@tatethurston That seems to be an example of using `<Link>`, but what about `useRouter`?

[code]

The last part is erroneous, as the query (of the "/" page) doesn't know anything about my parameters. This is how it's generated:

[code]

What do I do in this case?
Thanks in advance.

[2022-08-05 18:15] tatethurston commented on #46
@OnkelTem your example for `useRouter` should work. What issue are you running into? Are you using version `0.0.18`?

[2022-08-07 11:22] OliverDudgeon opened #48 "Semicolons are used where a comma should be used"
For me, the generated output has `;`s instead of `,`s to separate object entries which is incorrect and errors.

[code]

using `v0.0.18`

[2022-08-07 11:25] OliverDudgeon opened #49 "Catch-all routes aren't generated right when the name isn't a valid JS identifier but is a valid NextJS route"
If I have an route which catches all subpaths such as `"/api/as-api/[...as-proxy]"` the generated route is `{ pathname: "/api/as-api/[...as-proxy]"; query: Query<{ as-proxy: string[] }> }`. Notice that there is a key, `as-proxy`, which is missing quotes to allow it to be a valid object key.

Using `v0.0.18`

[2022-08-07 12:17] OnkelTem commented on #46
Yes, 0.0.18.
Ok, it seems that I want more than it can actually provide, or made for.
What you mean under working - is that it compiles, while I want routes typing. Sure, the query is defined as a combination of anything in NextJS: its default `string | string[] | undefined` is inconvenient. E.g. one has to make some silly checks like `Array.isArray()` to get rid of the `string[]` part (what `next

[2022-08-07 14:27] OnkelTem commented on #45
I'm not familiar with this system enough yet. But I'll try to update this issue once I learn it more.

[2022-08-07 16:08] tatethurston commented on #48
Properties are separated by semicolons not commas in TypeScript type declarations https://www.typescriptlang.org/docs/handbook/2/objects.html.

[2022-08-07 16:09] tatethurston commented on #48
If you share more about the error you’re encountering, I may be able to help point you in the right direction.

[2022-08-07 16:09] #45 closed

[2022-08-07 16:11] OliverDudgeon commented on #48
Apologies what I thought was an error here was a result of #49

[2022-08-07 16:11] #48 closed

[2022-08-07 16:11] tatethurston commented on #46
Types for search parameters are something we’re looking looking into https://github.com/tatethurston/nextjs-routes/issues/39

[2022-08-07 16:15] tatethurston commented on #49
Thanks for reporting this @OliverDudgeon.

Thinking on the solution, we could quote all user supplied segments, or try to determine the subset that aren’t valid JS identifiers.

[2022-08-07 16:35] tatethurston commented on #49
As a work around in the meantime, is anything stopping you from using `asProxy` instead of `as-proxy`?

[2022-08-07 16:37] OliverDudgeon commented on #49
Nothing preventing this for me

[2022-08-08 02:33] #49 closed

[2022-08-16 11:49] saschb2b opened #56 "Server side redirect return"
We are using redirects for cases when data is not found or not present. Any way here to also type the source and destination parts for the redirect return?

For example

[code]

[2022-08-16 16:12] tatethurston commented on #56
Hey @saschb2b thanks for opening this. [getServersideProps](https://nextjs.org/docs/api-reference/data-fetching/get-server-side-props#redirect) redirect does not perform the same interpolation as `route` so it can't support dynamic routes as typed by `nextjs-routes`.

Also question about your example above, where is `source` coming from? getServersideProps' redirect is typed as follows:

[code]

[2022-08-16 16:30] tatethurston commented on #36
@Noitidart what do you think about the following API?

[code]

`route` would be a runtime export from nextjs-routes that performs the same dynamic query interpolation as Next's link, so  `route({ pathname: '/foos/[foo]', query: { foo: 'bar' }})` would yield `/foos/bar`.

[2022-08-16 17:39] Noitidart commented on #36
Woow! That's amazing! Thanks very much for asking!

[2022-08-16 18:03] tatethurston commented on #39
pathpida goes with the bespoke named export approach: https://github.com/aspida/pathpida#define-query---nextjs

[2022-08-17 08:56] saschb2b commented on #56
That solution would be superb!

And yes you are right about source. I confused it with static redirects in the nextjs config https://nextjs.org/docs/api-reference/next.config.js/redirects and somehow used it without thinking about it too much. So it's only `destination` that needs to be typed

[2022-08-17 23:39] #36 closed

[2022-08-17 23:39] #56 closed

[2022-08-18 00:49] tatethurston commented on #56
This is released in [v0.0.21](https://github.com/tatethurston/nextjs-routes/releases/tag/v0.0.21)

[2022-08-18 00:49] tatethurston commented on #38
This is released in [v0.0.21](https://github.com/tatethurston/nextjs-routes/releases/tag/v0.0.21)

[2022-08-18 00:50] tatethurston commented on #36
This is released in [v0.0.21](https://github.com/tatethurston/nextjs-routes/releases/tag/v0.0.21)

[2022-08-18 13:04] Noitidart commented on #36
Thank you man!!

[2022-08-21 14:50] floflock opened #58 "Typed locales if i18n is configured"
The standard type for `locale`, for example in `const { locale } = useRouter()`is always `string|undefined`.

`undefined` is only applicable, if i18n is not configured.

What do you mean, is it in the scope of the package that `locale` and `locales` are typed properly related to the configuration in the next.config.js?

A config which looks like this...

[code]

... would result into a type overri

[2022-08-22 00:01] tatethurston commented on #58
Thanks @floflock, I think this would be a good addition. I would like any solution to consider intl holistically, including #19

[2022-08-27 04:04] BigDog1400 commented on #39
I really like this aproach. I am currently using this package, and i have a search page where exist a lot of query params, and it is really difficult right now to use the library without those query params being typed by the package itself.

[2022-09-23 18:27] tatethurston opened #63 "Remove npx nextjs-routes"
### What
Remove cli invocation of nextjs-routes: eg `npx nextjs-routes` and `yarn nextjs-routes`.

Direct users to use automatic wiring instead:

[code]

### Why

This enables richer configuration in the future, leveraging `withRoutes` to supply any configuration options.

### Rollout

A deprecation notice will log for usage of `npx nextjs-routes` and `yarn nextjs-routes`, directing to this issue.

[2022-09-30 09:47] saschahofmann opened #73 "Typescript Complaint: Expected 0 type arguments, but got 1"
Hi,
I am using the *nextjs-routes@0.1.0* with the `withRoutes` configuration but I am not sure it's working as expected.
I am seeing the following error
<img width="667" alt="image" src="https://user-images.githubusercontent.com/24508496/193243264-a92b2ce3-81b4-4aa3-a0a2-906c5dd1716e.png">

I also cannot see the nextjs-routes *nextjs-routes.d.ts* types or any addition to my *tsconfig.json*.

Any i

[2022-09-30 21:37] tatethurston commented on #73
Hey @saschahofmann could you send me your next config? And just to confirm, did you start (next dev) or build (next build) your next server?

[2022-09-30 21:45] saschahofmann commented on #73
Hi of course. Here is my *next.config.js*

[code]
and yes I am running `next dev`

module.exports = withRoutes(nextConfig)

[2022-09-30 21:56] tatethurston commented on #73
Are you seeing any errors or warnings in your console when you run `next dev`? And are your pages in `pages` or `src/pages` or somewhere else?

[2022-09-30 22:04] saschahofmann commented on #73
No errors but I am running the command in the root directory  (where the next.config file resides) while the tsconfig lives in the *frontend* folder together with pages.

so really I am running `next dev frontend`

[2022-09-30 22:08] tatethurston commented on #73
Ah `nextjs-routes` expects your pages to be in either `pages` or `src/pages` relative to the root directory. It sounds like your pages are in `frontend/pages`?

[2022-09-30 22:33] saschahofmann commented on #73
I am having front- and backend in the same repo. I think in the beginning I needed the node modules available in the root directory to run a package to generate some code but actually I think I dont need it anymore.

More general I can see a scenario where maybe a configuration file (like a JSON schema or something) is shared between directories. For example, to generate some data types that are s

[2022-10-01 02:13] MariaSolOs commented on #73
@saschahofmann I would suggest installing `nextjs-routes` locally per Next project. This package generates the typed path information for a single Next project, and because you cannot use Next's router for navigating to a route in another project, IMO it doesn't make sense to make this a shared configuration.

[2022-10-01 08:58] saschahofmann commented on #73
Sorry I might have explained it badly I am not using nextjs-routes (or nextjs) for two different projects. I was just explaining why I have the node_modules living in the root level rather than inside the `frontend` folder.

In my particular case for example,  I use the [openapi-typescript-codegen](https://www.npmjs.com/package/openapi-typescript-codegen) to generate the API client automatically.

[2022-10-01 09:05] saschahofmann commented on #73
Interestingly I am not getting the `Could not find a Next.js pages directory. Expected to find either pages(1) or src/pages(2)` error

[code]

[2022-10-01 16:58] MariaSolOs commented on #73
@saschahofmann got it, thanks for explaining.

Does your `frontend` folder have a `package.json` file? And where are you placing the `next.config.js` file?

I don't know which is the specific setup that you have but [here](https://github.com/MariaSolOs/paradeigma) is a Yarn monorepo I'm working on where this package is working perfectly. The types are generated when running [this Next app](https:/

[2022-10-01 17:33] saschahofmann commented on #73
No I think that's the problem the yarn and next.config life in the root and the rest is in the front-end folder but I'm sure if I just move everything there it will work. Just wanted to note that maybe it's not the most uncommon case?

[2022-10-01 17:39] MariaSolOs commented on #73
@saschahofmann You're right. With the new options added to the `withRoutes` object this is a scenario that could be supported.

[2022-10-01 18:53] saschahofmann commented on #73
Cool I will try to move everything down just to check

[2022-10-01 20:42] tatethurston commented on #73
We could consider resolving the pages directory relative to the the next.config.js instead of package.json, which isn’t a big lift after the deprecation of the cli invocation. I’m hesitant to make this a dedication configuration option, because we should be able to find routes identical to next. What do you think @MariaSolOs ?

[2022-10-02 01:04] MariaSolOs commented on #73
@tatethurston sounds good to me!

[2022-10-03 08:34] saschahofmann commented on #73
Ok, I moved all the next and yarn stuff into the *frontend* folder and it works

[2022-10-03 16:42] tatethurston commented on #73
@saschahofmann could you outline what your project file tree looked like before the move? It sounds like previously it was this:

[code]

[2022-10-04 07:35] saschahofmann commented on #73
Yes thats right the only other important file would be the tsconfig file that lives in */frontend*
[code]

[2022-10-04 18:12] tatethurston commented on #73
And Next is finding and building your pages as expected with that directory structure? Do you have anything else in that setup to make Next.js work?

[2022-10-05 15:49] Elindorath opened #74 "Support for Custom Page Extensions"
Hi there,

Using v0.1.0, I noticed that it doesn't seem to support [Custom Page Extensions](https://nextjs.org/docs/api-reference/next.config.js/custom-page-extensions). Indeed, the generated `nextjs-routes.d.ts` file defines a route for every files found in the `pages` (or `src/pages`) directory, including non page ones.

I think it might be something you want to consider for #44.

Feel free to a

[2022-10-05 16:12] tatethurston commented on #74
Hey @Elindorath, thanks for the kind words. What files do you have in your pages directory?

[2022-10-05 18:14] #74 closed

[2022-10-05 21:18] OliverDudgeon opened #76 "Generated types are prefixed with "pages/""
My `pages` folder is in the project root. The generated types file looks like this:
[code]

hence, I get type errors as the correct paths don't have the `pages/` prefix.

[2022-10-05 21:42] #76 closed

[2022-10-05 21:55] tatethurston commented on #76
@OliverDudgeon Sorry about that, thanks for reporting. I revoked the publish of 0.1.1 and published 0.1.2.

[2022-10-05 22:07] OliverDudgeon commented on #76
Thanks for the rapid fix!

[2022-10-06 08:53] Elindorath commented on #74
Hi Tate,

Thanks for the quick fix. Sadly, it was maybe a bit too quick 😉 .

I have set up `pageExtensions` to `['page.tsx', 'page.ts', 'api.ts']`.
This allow me to put test and style files aside of the file they are related (`*.test.tsx` and `*.module.scss`). I use the `api.ts` suffix specially for the api files, I have eslint rules to ensure it is used only in the right place.
The structure look

[2022-10-06 17:52] tatethurston commented on #74
Thanks @Elindorath, I overlooked multiple extensions. I've published a new release with your fix!

[2022-10-07 18:44] #73 closed

[2022-10-10 23:34] #58 closed

[2022-10-10 23:45] #19 closed

[2022-10-22 17:45] MariaSolOs opened #83 "Allow href in Links to be a string"
Since Next allows [`href` to be a string in `Link`s](https://nextjs.org/docs/api-reference/next/link), it would be nice to also offer this more compact syntax (e.g.: Allow users to write `href="/"` instead of `href={{ pathname: '/' }}`). We can still make this typed so that only the corresponding string literals are allowed.

If this sounds like a good idea, I can create the PR with the implementa

[2022-10-22 20:52] tatethurston commented on #83
Hey @MariaSolOs I had this in an early version of nextjs-routes but the TypeScript error messages had poorer DX. Any typos in routes would present an error message using the first member of the routes union rather than the most similar member. This was several months ago so if the TS inference has improved in more recent versions or if you can find a way to express the type differently that helps

[2022-10-22 20:58] MariaSolOs commented on #83
@tatethurston so changing `href: RouteOrQuery;` to `href: Route["pathname"] | RouteOrQuery;` results in this error message, which I think is clear enough. What do you think?
<img width="1101" alt="image" src="https://user-images.githubusercontent.com/62502207/197362064-7b463ffc-1cc0-4aad-b36a-3d36a021a6c7.png">

[2022-10-22 21:04] tatethurston commented on #83
Yeah that error message seems clear enough. Is it roughly similar with a a bad RouteOrQuery object?

[2022-10-22 21:09] MariaSolOs commented on #83
Hmmm no, in that case we have the error message that you described:
<img width="962" alt="image" src="https://user-images.githubusercontent.com/62502207/197362524-a1a8c0af-5ba4-476d-8136-751c80ed0bd0.png">

However, this seems to be the case with and without my type change.

[2022-10-22 21:49] tatethurston commented on #83
Hmm even with a route closer to a valid defined route? I wonder if we regressed with the introduction of RouteOrQuery.

[2022-10-23 01:35] MariaSolOs commented on #83
It seems like the error always shows the same route.

Given that this regression isn't caused by my proposed change, are you okay with me continuing with the implementation, or would you like to first fix this?

I'm okay either way :)

[2022-10-23 02:21] tatethurston commented on #83
Yes continuing with the implementation sounds great, thanks

[2022-10-23 18:54] MariaSolOs commented on #83
Implemented in #84 :)

[2022-10-23 18:54] #83 closed

[2022-10-27 00:10] Elindorath opened #85 "Hash in `Link`'s `href` is not allowed"
Hi there,

As I build up my codebase, I came on the use case of having a link with a hash to open a page scrolled on a specific id. While the original `next/link` component supports it (with the help of the `scroll` prop), the routes type definition generated by `nextjs-routes` prevents it as there is no hash possible in `pathname`.

I think this could be addressed with template literal string, bu

[2022-10-27 00:34] tatethurston commented on #85
My inclination would be to cast or use next/link directly for the few call sites where this comes up.

I’m happy to look at a PR that investigates the template literal approach.

[2022-10-27 17:04] IgnusG opened #86 "Add support for Next.js app structure"
Next.js 13 is now out and it released the new layout system under the new `app` folder.

Is it something this package is interested in adopting?

[2022-10-27 18:23] tatethurston commented on #86
Yes this is definitely something I intend to support. Good call out on supporting both directories at the same time. I think the only remaining piece is checking out the next documentation to get the list of filenames / directories to exclude (eg layouts).

[2022-11-01 04:17] alexgorbatchev commented on #73
I'm seeing `Could not find a Next.js pages directory.` issue as well with a Nx generated Next.js, which doesn't include `package.json` file in the Next.js folder.

[2022-11-01 05:22] tatethurston commented on #73
@alexgorbatchev could you share an example with your project structure?

[2022-11-02 03:53] alexgorbatchev commented on #73
@tatethurston the problem is that nextjs-routes basically uses `process.cwd()` to find these directories. If you are using a monorepo, you are not guaranteed that `process.cwd() === <next.js app root>`. Looking at this a little bit more, it appears that Nx sets CWD to the monorepo root and doesn't like if you try to change that.

So, here's perhaps the ugliest hack one could imagine to get `nextjs

[2022-11-02 04:06] alexgorbatchev commented on #73
I made a PR to avoid the hack.

[2022-11-03 19:47] alexgorbatchev commented on #44
If the API is stable, just release 1.0. If there are changes, release 2.0 :) Personally I really dislike when packages stay in 0.x for years, while being used in production just the same :)

[2022-11-08 22:05] tatethurston commented on #86
This has been released in 0.1.7

[2022-11-08 22:05] #86 closed

[2022-11-11 18:52] tatethurston commented on #44
Agreed

[2022-11-11 18:52] #44 closed

[2022-11-15 18:52] groomain opened #96 "Change locale and stay on the same route"
Hi,

I tried to change the locale and stay on the same route by following nextjs exemple.

[code]

Unfortunately I have a typescript error with nextjs-routes.

I fixed it with an assertion any but maybe you have a better solution?

Thanks for your help!

[2022-11-15 22:26] tatethurston commented on #96
@groomain could you share your next.config.js?

[2022-11-16 14:43] tatethurston commented on #96
@groomain Thanks, and the TypeScript error?

[2022-11-16 14:52] tatethurston commented on #96
Could you paste the TypeScript error exactly as output by the compiler?

[2022-11-16 14:56] groomain commented on #96
[code]

[2022-11-16 15:25] tatethurston commented on #96
Thanks @groomain, this looks like a bug. Is this project publicly available in GitHub? If not, could you let me know:
- if you're using the pages or app directory?
- the version of nextjs-routes you're using

Could you also paste your generated nextjs-routes.d.ts?

[2022-11-16 16:21] groomain commented on #96
if you're using the pages or app directory?
the version of nextjs-routes you're using

no sorry it's a private project
it's used with page folder  and the last version of nextjs-routes

[2022-11-16 23:32] tatethurston commented on #96
@groomain I'm not able to reproduce this issue. Here's a working example using the code you've shared: https://stackblitz.com/edit/nextjs-8akbqz?file=next.config.js,package.json,pages%2Froute-a.tsx,pages%2F_app.tsx

Did you define your `locales` correctly? They need to be nested under `i18n`: https://nextjs.org/docs/advanced-features/i18n-routing

https://stackblitz.com/edit/nextjs-8akbqz?file=nex

[2022-11-17 10:28] groomain commented on #96
Hi,

Can you try this one ?
I think it's because I have a "catching all" page. [...slug].tsx

I've reproduced the error here.
https://stackblitz.com/edit/nextjs-zmkzrf?file=pages/_app.ts

[2022-11-18 01:52] tatethurston commented on #96
Ah good find. I'll dig in here to look to see if I can make the types better accommodate this case.

In the meantime, you can supply a generic argument to useRouter to prevent this issue:
https://github.com/tatethurston/nextjs-routes#query

Example: https://stackblitz.com/edit/nextjs-t5pjth?file=pages%2Froute-a.tsx,pages%2F[...slug].tsx

[2022-11-18 03:24] tatethurston commented on #96
On v1.0.1 you can do the following, because pathname and query will be pulled off router correctly, without the TypeScript destructuring tracking issue discussed above:

[code]
or for more intent clarity:

[code]

[2022-11-18 17:34] groomain commented on #96
Thanks !
#97
fixed !

[2022-11-18 17:34] #96 closed

[2022-11-20 08:34] Rashair opened #98 "Generated imports are changing the order on build / next dev"
The order of these 2 import swaps when I run `next dev` and `next build`
![image](https://user-images.githubusercontent.com/33404585/202892898-58e68b47-ccd3-4769-a942-839b43aeea92.png)

It causes unnecessary changes visible in git repo - is there a way to prevent it?

[2022-11-20 11:11] tatethurston commented on #98
Hey @Rashair what tool are you using to reorganize imports? ESLint and prettier are ignored for the generated file.

[2022-11-20 16:31] Rashair commented on #98
I don't use anything else than `eslint`. I have a plugin for imports reordering:
`eslintr.yml`:
[code]

[2022-11-20 23:11] tatethurston commented on #98
@Rashair I'm not able to reproduce this: https://stackblitz.com/edit/nextjs-yzc5rj?file=nextjs-routes.d.ts. Could you share a repo that reproduces this?

[2022-11-20 23:41] litewarp opened #99 "Incorrect Typing of Props for Link in next 13"
In nextj 13, `NextLink` [accepts anchor props](https://beta.nextjs.org/docs/api-reference/components/link). However, adding className to NextLink after installing `nextjs-routes` results in a type error. that `className` is not an acceptable prop.

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/1900476/202932883-9182dae4-2e07-4df5-a264-b5e7f9725d04.png">

next-themes

[2022-11-21 01:33] tatethurston commented on #99
@litewarp Thanks for reporting this. I've updated the types in 1.0.2.

[2022-11-21 01:33] #99 closed

[2022-11-21 19:55] tatethurston commented on #85
@Elindorath I missed that this was previously not possible with the UrlObject form. This has been fixed. Now you can do the following:

[code]

[2022-11-21 19:55] #85 closed

[2022-11-21 20:22] #63 closed

[2022-11-21 20:38] tatethurston commented on #39
I'm deciding between two approaches:

1. Named Export
[code]

2. Configuration in `next.config.js`:
[code]

1. Most flexible. This gives users full control over the types, eg they can define optional vs required keys, and string or string[] types. No new syntax, and colocated with the file.

2. Less flexible, unless we introduce additional configuration options. Centralizes all search parameter ov

[2022-11-22 08:55] ChristoRibeiro commented on #39
Interested about this feature ☝️ The approche 1 is my favorite. Easy to manage types with TypeScript :)

[2022-11-22 11:09] branislaav opened #103 "Error when using custom Link component"
I am getting this error when I use my custom Link component `Type 'string' is not assignable to type 'Route | Query'` but It works with default Link component from next js. I am doing something wrong?

this is my custom Link component
[code]

When I use it like this I will get error I mentioned above but when I import Link from next js everything works as expected.
[code]

[2022-11-22 16:30] Rashair commented on #98
I've tried few things here: https://stackblitz.com/edit/nextjs-vwcudh?file=types/nextjs-routes.d.ts
But nothing seemed to work 🤔

Ultimately I've committed the change again and I've noticed that my IDE (Rider) is doing the rearrangement 🙈
I had `optimize imports on commit` option turned on, which didn't respect the `eslitnt-ignore` tag.
Solution was to commit the file via git directly which left i

[2022-11-22 16:30] #98 closed

[2022-11-22 17:43] tatethurston commented on #98
Ah that makes sense, thanks for reporting back. Hopefully Rider has an ignore list you can add autogenerated files like nextjs-routes.d.ts to? Alternatively if there are comment ignore directives for Rider I'd be curious what they use.

[2022-11-22 17:51] tatethurston commented on #39
@ChristoRibeiro could you tell me more about your use case?

My main concern is how to handle the following, and I'm curious if it applies to your use case:

[code]

when reading `router.query.add`, should it be typed as `string` or `string | string[] | undefined`? Because a user could enter `/users/1?edit=foo&edit=bar` yielding a string[] or `/users/1` yielding undefined

[2022-11-22 19:56] tatethurston commented on #103
Thanks for reporting this @branislaav. This is fixed in 1.0.4

[2022-11-22 19:56] #103 closed

[2022-11-23 23:13] litewarp opened #105 "Typing next/navigation"
Apologies for multiple issues this week. Trying to type all the things with the new next13.

I notice that `useRouter` is typed only from the `next/link` import and not the new [`next/navigation` module](https://beta.nextjs.org/docs/api-reference/use-router#userouter), and I was wondering if it will be supported in the future.

Thanks for the great package!

[2022-11-23 23:34] sachinraja commented on #39
Hey @tatethurston I would prefer the next.config.js config.

Is there any way nextjs-routes could first do some runtime validation? [TanStack Router](https://tanstack.com/router) does this using zod but we wouldn't need something that complicated for this.

[2022-11-24 01:50] tatethurston commented on #105
@litewarp No apologies necessary, I appreciate you taking the time to open issues. It’s easy to encounter a rough edge in a library and move on without giving any feedback.

Thank you for pointing that out, I can certainly add support for next/navigation in the next few days.

[2022-11-24 09:15] ChristoRibeiro commented on #39
My use case is simple, I have some pages where my users can play with data filters. So my URLs can get these shapes:

- `/product-data?sort=asc&groupBy=name`
- `/products-data?sort=asc&groupBy=name`

Different pages, same filters params.

If I can define in one place my data filters params and use them on different pages it could be nice 😊

[2022-11-24 10:36] ChristoRibeiro opened #106 "useRouter `push` function miss the property `pathname`"
Great lib and great work on that!

I'm using the [nextjs-routes v1.0.4](https://github.com/tatethurston/nextjs-routes/releases/tag/v1.0.4) and in the README example :

[code]

1. the import should be `from "next/router"`
2. the property `pathname` from `router.push` is not available but `query` does.

Can you confirm @tatethurston ?

[2022-11-24 10:44] ChristoRibeiro commented on #106
The [core.ts#L230 ](https://github.com/tatethurston/nextjs-routes/blob/main/src/core.ts#L230) should get this change?

[code]

[2022-11-24 10:58] ChristoRibeiro commented on #106
Looks like `<Link href={{ ... }}` miss too the `pathname` property.

[2022-11-24 16:39] tatethurston commented on #106
No -- `push` is overloaded, if you look at the first function definition push already accepts `pathname`: https://github.com/tatethurston/nextjs-routes/blob/main/src/core.ts#L220

[2022-11-24 16:48] tatethurston commented on #106
Thanks for noticing this, I've updated the readme.

[2022-11-24 20:53] tatethurston commented on #39
It’s not clear to me from TanStack router’s documentation what advantage their search parameters runtime offers over URLSearchParams: ultimately the best API you can provide for reads is 1. string | undefined 2. string[] or 3. string with a fallback value. You get 1 and 2 with URLSearchParams get or getAll. Maybe you can point out what I’m missing?

[2022-11-24 21:14] tatethurston commented on #39
My understanding so far is there are two pain points that folks would like a solution to:

1. requiring some pages writes (link, push, replace) to require specific search params to be set
2. reads that do not need to handle string | string[] — just one or the other.

Does that miss anyone’s ask?

[2022-11-25 12:19] ChristoRibeiro commented on #106
So how can I use push with a pathname and query?

My use case:

router.push({
  pathname: "/product-data",
  query: {
    id: "123",
    sort: "desc",
    groupBy: "name"
  }
})

[2022-11-25 19:21] tatethurston commented on #106
@ChristoRibeiro You can use both `pathname` and `query`, see the example I referenced previously: https://stackblitz.com/edit/nextjs-88s7s8?file=pages%2Froute-a.tsx,pages%2Findex.tsx

[2022-11-25 20:59] tatethurston commented on #105
Hey @litewarp I did some investigation here and Next's app directory now uses strings for Link and useRouter -- removing the ability to use the `UrlObject` form.
https://github.com/vercel/next.js/discussions/41745#discussioncomment-4239793

[2022-11-28 12:35] ChristoRibeiro commented on #106
If I use `push` with a string as a parameter, `pathname` is recognized: `push("/data")` but if I use `push` with an object as a parameter, pathname is missing:

![CleanShot 2022-11-28 at 13 29 01](https://user-images.githubusercontent.com/743358/204278340-cbfad30d-c4c6-4884-a176-9d398c4e0e0e.gif)

And here the error description:

<img width="790" alt="CleanShot 2022-11-28 at 13 31 21@2x" src="http

[2022-11-28 13:17] ChristoRibeiro commented on #106
I updated to Nextjs 13 and it work now 🙌

[2022-11-28 13:17] #106 closed